<div class="player">
  <div class="player__song-info">
    <h1 class="player__song-name" ng-if="ctrl.selectedSong">{{ ctrl.selectedSong.title }}</h1>
    <span class="player__album-name">{{ ctrl.album.albumName }}</span>
  </div>
  <div class="player__controls">    
    <div class="player__control player__control--next" ng-click="next()" ng-class="{ 'player__control--hidden': !playing }"></div>
    <div class="player__control" ng-click="play()" ng-class="{ 'player__control--play': !playing, 'player__control--pause': playing, 'player__control--hidden': ctrl.selectedSong === null }"></div>
    <div class="player__control player__control--prev" ng-click="prev()" ng-class="{ 'player__control--hidden': !playing }"></div>   
  </div>
  <div class="cb"></div>
  <div class="player__progress-bar" ng-class="{ 'player__progress-bar--hidden': !playing }">
    <div class="player__buffered-bar" ng-style="{ 'width': currentDuration.bufferedPercentage }"></div>
    <div class="player__played-bar" ng-style="{ 'width': currentDuration.playedPercentage }"></div>
  </div>
  <audio>
    <source ng-repeat="source in ctrl.selectedSong.media" ng-src="{{ source.url }}" type="{{ source.type }}">
  </audio>
  <div class="player__bar">{{ currentBar }}</div>
</div>
