<div class="player">
  <div class="player__song-info">
    <h1 class="player__song-name">{{ ctrl.selectedSong.title }}</h1>
    <span class="player__album-name">{{ ctrl.album.albumName }}</span>
  </div>
  <audio>
    <source ng-repeat="source in ctrl.selectedSong.media" ng-src="{{ source.url }}" type="{{ source.type }}">
  </audio>
  <div class="player__controls">    
    <div class="player__control" ng-click="prev()" ng-show="playing">PREV</div>   
    <div class="player__big-control player__big-control--play" ng-click="play()" ng-show="!playing"></div>
    <div class="player__big-control" ng-click="pause()" ng-show="playing">PAUSE</div>
    <div class="player__control" ng-click="next()" ng-show="playing">NEXT</div>
  </div>
  <div class="cb"></div>
  <div class="player__bar">{{ currentBar }}</div>
</div>
