html, body {
  font-size: 100%;
  margin: 0;
  background-color: #f3f2f7;
}

/* Header */

.header {
  font-family: 'Open Sans', sans-serif;
  color: #f3f2f7;
  background: linear-gradient(to right, rgba(68,34,67,1) 0%, rgba(68,34,67,1) 37%, rgba(126,73,105,1) 100%);
  box-shadow: 1px -50px 71px 32px rgba(126,73,105,1);
  padding: 0.5em 1em 0.5em 3em;
  -webkit-transition: height 200 'ease-in-out';
  -moz-transition: height 200 'ease-in-out';
  transition: height 200 'ease-in-out';
}

.header__title {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 0.5em;
  float: right;
}

.header__back {
  font-weight: 300;
  font-size: 2.5em;
  cursor: pointer;
  float: left;
}

/* Player */

.player {
  margin-top: 2em;
  font-family: 'Open Sans', sans-serif;
  color: #f3f2f7;
}

.player__song-info {
  float: left;
}

.player__song-name {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 1em 0 0;
  display: inline;
}

.player__album-name {
  font-weight: 300;
  font-size: 1.5em;
  display: inline;
}

/* Player controls */

.player__control {
  border-radius: 1em;
  width: 2em;
  height: 2em;
  float: right;
  cursor: pointer;
  background-color: #f3f2f7;
}

.player__control--play {
  background-image: url('../images/play.png');
  background-size: 1.4em;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  margin-right: 1em;
}

.player__control--pause {
  background-image: url('../images/pause.png');
  background-size: 1.4em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 1em;
}

.player__control--prev {
  background-image: url('../images/prev.png');
  background-size: 1.4em;
  background-repeat: no-repeat;
  background-position: 33% 50%;
  margin-right: 1em;
}

.player__control--next {
  background-image: url('../images/next.png');
  background-size: 1.4em;
  background-repeat: no-repeat;
  background-position: 56% 50%;  
}

.player__control--hidden {
  opacity: 0;
}

/* Playlist */

.playlist {
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(73,37,71,0.25);
  border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;  
}

.playlist__song {
  cursor: pointer;
  margin-bottom: 0.5em;
}

.playlist__song--selected {
  font-weight: 700;
}

.playlist__cover-container {
  float: left;
}

.playlist__album-cover {
  width: 16em;
  height: 16em;
  vertical-align: middle;
}

.playlist__songs {
  float: left;  
}

.playlist__song-icon {
  background-size: 1em;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  float: left;
  margin: 0.25em 0 0 1em;
}

.playlist__song-icon--play {
  background-image: url('../images/play.png');  
}

.playlist__song-icon--pause {
  background-image: url('../images/pause.png');
}

.playlist__song-order {
  color: #7f4a69;
  font-size: 1em;
  margin-left: 0.5em;
}

.playlist__song-title {
  color: #492547;
  font-size: 1em;
  text-transform: uppercase;
}

.player__bar {
  width: 100%;
  font-size: 3em;
  font-weight: 300;
  max-height: 10em;
  transition: height 200ms ease-in-out;
}

.player__hit--highlighted {
  background-color: orange;
}

.player__progress-bar {
  width: 100%;
  height: 0.25em;
  background-color: white;
  z-index: 100;
  border-radius: 0.1em;
  position: relative;
  border: 0.15em solid white;
  margin: 1em auto 1em;
}

.player__progress-bar--hidden {
  opacity: 0;
  display: none;
}

.player__buffered-bar {
  height: 0.25em;
  background-color: #dbbbce;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: width 100 linear;
  -moz-transition: width 100 linear;
  transition: width 100 linear;
}

.player__played-bar {
  height: 0.25em;
  background-color: #492547;
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;  
}

/* Selector */

.selector {
  font-family: 'Open Sans', sans-serif;
  color: #f3f2f7;
  padding-left: 3em;
  margin: 0 auto 0;
}

.selector__album-info {
  background: linear-gradient(to right, rgba(68,34,67,0.5) 0%, rgba(68,34,67,0.5) 37%, rgba(126,73,105,0.5) 100%);
  width: 100%;
  position: absolute;
  bottom: -2em;
  transition: bottom 100ms ease-in-out;
}

.selector__album-info:hover {
  bottom: 0;
  transition: bottom 100ms ease-in-out;
}


.selector__album {
  width: 16em;
  height: 16em;
  background-color: #492547;
  background-size: cover;
  cursor: pointer;
  float: left;
  margin: 1em;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(73,37,71,0.25);
}


.cb {
  clear: both;
}
