html, body {
  font-size: 100%;
  margin: 0;
  background-color: #f3f2f7;
}

/* Header */

.header {
  font-family: 'Open Sans', sans-serif;
  color: #f3f2f7;
  background: linear-gradient(to right, rgba(68,34,67,1) 0%, rgba(68,34,67,1) 37%, rgba(126,73,105,1) 100%);
  box-shadow: 1px -50px 71px 32px rgba(126,73,105,1);
  padding: 0.5em 1em 0.5em 3em;
  -webkit-transition: height 200 'ease-in-out';
  -moz-transition: height 200 'ease-in-out';
  transition: height 200 'ease-in-out';
}

.header__title {
  font-weight: 700;
  font-size: 1.5em;
  display: inline-block;
}

.header__discography {
  font-weight: 300;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
}

/* Player */

.player {
  margin-top: 2em;
  font-family: 'Open Sans', sans-serif;
  color: #f3f2f7;
}

.player__song-info {
  float: left;
}

.player__song-name {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  display: inline;
}

.player__album-name {
  font-weight: 300;
  font-size: 1.5em;
  margin-left: 1em;
  display: inline;
}

.player__control {
  border-radius: 1.5em;
  width: 3em;
  height: 3em;
  float: right;
  cursor: pointer;
  background-color: #f3f2f7;
}

.player__big-control {
  border-radius: 3em;
  width: 5em;
  height: 5em;
  float: right;
  cursor: pointer;
  background-color: #f3f2f7;
}

.player__big-control--play {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjMyLjE1MyAyMzIuMTUzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMzIuMTUzIDIzMi4xNTM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJQbGF5Ij4NCiAgPHBhdGggZmlsbD0iIzdlNDk2OSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkOyIgZD0iTTIwMy43OTEsOTkuNjI4TDQ5LjMwNywyLjI5NGMtNC41NjctMi43MTktMTAuMjM4LTIuMjY2LTE0LjUyMS0yLjI2NmMtMTcuMTMyLDAtMTcuMDU2LDEzLjIyNy0xNy4wNTYsMTYuNTc4djE5OC45NGMwLDIuODMzLTAuMDc1LDE2LjU3OSwxNy4wNTYsMTYuNTc5YzQuMjgzLDAsOS45NTUsMC40NTEsMTQuNTIxLTIuMjY3bDE1NC40ODMtOTcuMzMzYzEyLjY4LTcuNTQ1LDEwLjQ4OS0xNi40NDksMTAuNDg5LTE2LjQ0OVMyMTYuNDcxLDEwNy4xNzIsMjAzLjc5MSw5OS42Mjh6Ii8+DQo8L2c+DQo8L3N2Zz4=);
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: 57% 50%;
}

.playlist {
  margin-top: 5em;
  font: normal 1em sans-serif;
}

.playlist__song {
  margin: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(73,37,71,0.25);
  border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  cursor: pointer;
  transition: padding 100ms ease-in-out;
}

.playlist__song:hover {
  padding-left: 2em;
  transition: padding 100ms ease-in-out;
}

.playlist__song--selected {
  background-color: orange;
}

.playlist__song-order {
  color: #7f4a69;
}

.playlist__song-title {
  color: #492547;
}

.player__bar {
  width: 100%;
  font-size: 3em;
  font-weight: 300;
}

.player__hit--highlighted {
  background-color: orange;
}

.cb {
  clear: both;
}
